.text-primary {
  color: #1e9488 !important;
}

.btn-primary {
  color: #fff;
  background-color: #1e9488;
  border-color: #1e9488;
}
.btn-outline-primary {
  color: #1e9488;
  background-color: transparent;
  background-image: none;
  border-color: #1e9488;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #1e9488;
  border-color: #1e9488;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #1e9466;
  border-color: #1e9466;
}
